/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin-top: 50px;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

/* Títulos */
h1 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 2px solid #444;
    animation: escribir 3s steps(30, end) forwards, parpadeo 0.7s infinite;
    max-width: 0;
}

/* Animación de escritura */
@keyframes escribir {
    from {
        max-width: 0;
    }
    to {
        max-width: 100%;
    }
}

/* Efecto de parpadeo del cursor */
@keyframes parpadeo {
    50% {
        border-color: transparent;
    }
}

/* Botón principal */
.button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFC107;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Hover sobre los botones en lugar de las preguntas */
.button:hover {
    background-color: #D39E00;
}

.button.red {
    background-color: #DC3545; /* Rojo */
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.button.red:hover {
    background-color: #B02A37; /* Rojo más oscuro al pasar el mouse */
}

.button.grandee {
    width: 193px; /* Ancho fijo */
    height: 40px; /* Alto fijo */
}
.button.tamaño {
    width: 150px; /* Ancho fijo */
    height: 43px; /* Alto fijo */
}

